<h1 nz-typography>Bild</h1>

<ng-container *ngIf="picture$ | async as picture">
    <img class="avatar" src="https://k9i9drz6.directus.app/assets/{{ picture.picture }}/avatar.jpg" />

    <div class="info">
        <h3 nz-typography>{{ picture.title}}</h3>
        <span>{{ picture.date_created | date:'d. MMMM yyyy, HH:mm' }}</span>
    </div>


<form *ngIf="!isMyPicture" nz-form [formGroup]="form" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="title">Dein Tipp</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input formControlName="myTip" name="myTip" type="text" id="myTip" style="width: 100%;">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-col [nzOffset]="4" nz-button nzType="primary">Tipp abgeben</button>
        </nz-form-control>
    </nz-form-item>
</form>


<h1 nz-typography>Tipps</h1>

<ng-container
    *ngIf="allPictureTips$ | async as other; else noTips"
>
    <ng-container *ngIf="other.length > 0; else noTips">
        <div class="tip" *ngFor="let tip of other">
            <div class="info">
                <h3 nz-typography>{{ tip.tip }}<br /></h3>
            </div>
            <div *ngIf="isMyPicture && picture.is_open" class="action">
                <button nz-button (click)="acceptTip(tip)">RICHTIG</button>
            </div>

        </div>
    </ng-container>
</ng-container>
</ng-container>

<ng-template #noTips>
    Leider keine Tipps vorhanden
</ng-template>