<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="category">Kategorie</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-select id="category" formControlName="category" nzPlaceHolder="Wähle eine Kategorie aus ...">
                <nz-option nzValue="Spaß in der Kaffeepause" nzLabel="Spaß in der Kaffeepause"></nz-option>
                <nz-option nzValue="Spaß mit Bier" nzLabel="Spaß mit Bier"></nz-option>
                <nz-option nzValue="Spaß durch Bewegung" nzLabel="Spaß durch Bewegung"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="title">Thema</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input formControlName="title" name="title" type="text" id="title">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="when">Datum / Zeit</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-date-picker name="when" formControlName="when" nzShowTime nzFormat="dd.MM.yyyy HH:mm:ss">
            </nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="inviteUsers">Benutzer einladen</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-select id="inviteUsers" nzMode="tags" nzPlaceHolder="Benutzer auswählen">
                <nz-option *ngFor="let user of availableUsers" [nzLabel]="user" [nzValue]="user"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button nzType="primary">Erstellen</button>
        </nz-form-control>
    </nz-form-item>
</form>
