<h1>Neue Aktivität erstellen</h1>
<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="category">I mog</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-select id="category" formControlName="category" nzPlaceHolder="Wähle eine Kategorie aus ...">
                <nz-option nzValue="Spaß in der Kaffeepause" nzLabel="Spaß in der Kaffeepause"></nz-option>
                <nz-option nzValue="Spaß mit Bier" nzLabel="Spaß mit Bier"></nz-option>
                <nz-option nzValue="Spaß durch Bewegung" nzLabel="Spaß durch Bewegung"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="title">redn üba</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input formControlName="title" name="title" type="text" id="title" style="width: 100%;">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="appointmentDateTime">wonn?</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-date-picker name="appointmentDateTime" formControlName="appointmentDateTime" nzShowTime nzFormat="dd.MM.yyyy HH:mm">
            </nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="inviteUsers">Wer no?</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-select id="inviteUsers" nzMode="tags" nzPlaceHolder="Benutzer auswählen">
                <nz-option *ngFor="let user of availableUsers" [nzLabel]="user" [nzValue]="user"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-col [nzOffset]="4" nz-button nzType="primary">Erstellen</button>
        </nz-form-control>
    </nz-form-item>
</form>
