<h1>Was wäre ich als ...?</h1>

<p>Mit dieser App kannst du viel über deine Kolleg:innen erfahren. Jede Woche wird automatisch zufällig eine Kolleg:in und eine Bezeichnung ausgewählt.</p>

<p>Im Dashboard jedes Benutzers finden sich unter "Alle Aktivitäten" dann jede Woche eine neue Was-wäre-ich-als-... Challenge.</p>

<p>Jeder kann dann zur Challenge (zB: Was wäre Gerold im Mittelalter?) seine Einschätzung posten.</p>

<h2>Weitere Beispiele</h2>

<ul>
    <li>Was wäre Torben als Herr der Ringe Charakter?</li>
    <li>Was wäre Rene als Automarke?</li>
    <li>Was wäre Carmen als alkoholisches Getränk?</li>
</ul>