<h1 nz-typography>Dashboard</h1>

<h2 nz-typography><span nz-icon nzType="user"></span>Meine Aktivitäten</h2>
<ng-container *ngIf="myAppointments$ | async as my; else noOwnAppointments">
    <ng-container *ngIf="my.length > 0; else noOwnAppointments">
        <div class="event">
            <img class="avatar" src="/assets/images/avatar-demo.jpg" />
            <div class="info">
                <h3 nz-typography>Spaß mit Bier (Raime)</h3>
                <span>15:30</span>
            </div>
            <div class="action">
                <button nz-button nzType="primary">-</button>
            </div>
        </div>
    </ng-container>
</ng-container>

<h2 nz-typography>
    <span nz-icon nzType="usergroup-add"></span>Alle Aktivitäten
</h2>
<ng-container
    *ngIf="otherAppointments$ | async as other; else noOtherAppointments"
>
    <ng-container *ngIf="other.length > 0; else noOtherAppointments">
        <div class="event" *ngFor="let event of other">
            <img class="avatar" src="https://k9i9drz6.directus.app/assets/{{ event.avatar }}/avatar.jpg" />
            <div class="info">
                <h3 nz-typography>{{ event.title}}<br /><span>{{ event.category }}</span></h3>
                <span>{{ event.appointmentDateTime | date:'d. MMMM yyyy, HH:mm' }}</span>
            </div>
            <div class="action">
                <button nz-button>+</button>
            </div>
        </div>
    </ng-container>
</ng-container>

<ng-template #noOwnAppointments>
    leider keine eigenen Events vorhanden
</ng-template>

<ng-template #noOtherAppointments>
    leider keine anderen Events vorhanden
</ng-template>
